/*user styles*/

.wrapper {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2rem;
    border: 1px solid black;
    background-color: #fdfffc;
}

.wrapper > * {
    flex: 1 100%;
}

.aside {
    flex: 1 0 0;
    padding: 1rem;
    margin: 1rem;
}

.aside-1 {
    order: 1;
}

.aside-2 {
    order: 2;
}

.flex-grid-thirds {
    display: flex;
    justify-content: space-between;
    min-width: 32%;
}

.flex-grid-two-thirds {
    width: 68%;
}

.flex-container {
    display: flex;
}

.data-row {
    justify-content: space-between;
}

.remove-wrapper {
    display: flex;
    align-items: center; /* Vertically align items */
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 5px;
    border: 1px solid black;
    border-top: none;
    background-color: #fdfffc;
    padding: 1rem 2rem;
}

.remove-confirmation-message {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-grow: 2;
}

.icer-field-background {
    background-color: #fdfffc;
}

.label-status-new {
    background-color: #ffc107!important;
    color: #212529!important;
}

.label-status-current {
    background-color: #17a2b8!important;
    color: #ffffff!important;
}

.label-status-sponsored {
    background-color: #28a745!important;
    color: #ffffff!important;
}

.label-status-unknown {
    background-color: #f8f9fa!important;
    color: #212529!important;
}

.label-status-alert {
    background-color: #d9534f!important;
    color: #ffffff!important;
}

.label-status-unconfirmed {
    background-color: #fdf2f5!important;
    color: #212529!important;
    border: 1px solid #d9534f!important;
}

.label-status-name {
    background-color: #ededf0!important;
    color: #212529!important;
}


.label-status {
    margin-left: 5px;
    padding: 5px;
    min-width: 150px;
    display: inline-block;
}

.label-status-clear {
    padding: 5px;
    min-width: 150px;
    display: inline-block;
}

.badge-lists {
    padding: 5px 7px;
    border-radius: .25em;
}

.form-check {
    display: flex!important;
}

.form-check input[type=checkbox] {
    margin: 0;
}

.form-check label {
    margin-left: 5px;
}

.info-section {
    margin-bottom: 16px;
}

.extra-info-section {
    padding-left: 0;
    margin-top: 5px;
    font-size: 14px;
}

.ui-tabs-panel a, #general-info-section a{
    color: #94AE4A;
    text-decoration: underline;
    font-weight: bold;
}

.ui-tabs-panel a:hover, #general-info-section a:hover{
    color: #23527c;
    text-decoration: underline;
    font-weight: bold;
}

.italic-text {
    font-style: italic;
}

.bold-text {
    font-weight: bold;
}

.warning-background {
    background-color: #fdf2f5!important;
    border-radius: .25em;
    border: 1px solid #d9534f!important;
    padding: 10px;
}

.header-label-project>.control-label {
    margin-bottom: 0;
    padding-right: 10px;
}

/* Component containers
----------------------------------*/
.ui-widget {
 margin-top: 0;
 font-family: "Metropolis", sans-serif;
 color: #18453B;
 background-color: white;
 -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
 -moz-osx-font-smoothing: grayscale; /* Fix for firefox rendering */
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-size: 14px;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    font: 16px/28px "Metropolis", sans-serif;
    /*color: #777;*/
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -moz-osx-font-smoothing: grayscale; /* Fix for firefox rendering */
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    color: white;
}

.ui-widget-header {
    border: none;
    border-bottom: 1px solid #18453B;
}

.ui-tabs .ui-tabs-nav {
    padding: .2em 0 0 0;
}

/*front page tabs margins / padding for one extra position*/
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: .5em 0.6em;
}

a:focus {
    outline: none;
}

.mb-2 {
    margin-bottom: 0.5rem!important;
}

.mb-3 {
    margin-bottom: 1rem!important;
}

.flex-right-align {
    display: flex;
    justify-content: flex-end;
}

.icer-border {
    border-color: #18453B;
}

.management-header {
    background-color: #C3D3BF;
    border: solid 1px #18453B;
    border-radius: 2px;
    padding: 5px 15px;
    color: #0C1814
}

/* Course / Project buttons */
.btn-group label.btn:has(input[id^="project_radio"]:checked),
.btn-group label.btn:has(input[id^="course_radio"]:checked) {
    background-color: #18453B;
    border: 1px solid #6c757d;
    color: white;
}

.btn-light {
    background-color: #eee; /* Success green */
    border: 1px solid #6c757d;
    color: black;
}

.project_type {
    margin-right: 10px !important;
}

/* Bulk removal elements */

.well-remove-bulk {
    padding: 5px 9px 3px 9px;
}

input[name="sponsorship-bulk"]:checked {
    accent-color: #c9302c;
}

input[name="sponsorship-bulk"] {
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

input[name="sponsorship-bulk"]:checked {
    background-color: #c9302c;
    border-color: #ac2925;
}

.confirmation-wrapper {
    border-top: 1px solid #18453B;
}