@import url("https://msu-p-001.sitecorecontenthub.cloud/api/public/content/1a1d46b45afb40eda6ebf4ed44077295");

body {
	margin-top: 0;
	font: 16px/28px “Metropolis”, sans-serif;
	color: #000000;
	background-color: white;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-moz-osx-font-smoothing: grayscale; /* Fix for firefox rendering */
}

h1, h2, h3, h4, h5, h6 {
	color: #18453B;
}

h1 {
	font-size: 1.75rem;
}

h2 {
	font-size: 1.5rem;
}

/* #Set Page Width
================================================== */

.MSUwrapper{ width: 100%; margin: 0 auto; clear: both;}
/* You may have to adjust the max-width and min-width to fit the width of your site. 
If the margin is set differently for your site, fix the margin here to reflect that. */



/* #MSU Masthead
================================================== */

#MSUheader {
	height: 60px;
}

#MSUmasthead {
	height:60px;
  	width: 50%;
  	float: left; 
  	position: relative;
}

#MSUmasthead img {
  	padding-top: 12px;
}

#MSUmasthead img.print-msugraphic {
	display: none;
}

/* #MSU Footer 
================================================== */
#MSUstandardFooter {
	height: 117.5px;
	font-family: “Metropolis”, sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}

#MSUstandardFooter .fourMSUcolumns {
	
	float: left;
	position: relative;
	margin-right: 18px;
}


#MSUstandardFooter .fourMSUcolumns img {
	
	margin-top: 13px;
}

#MSUstandardFooter .twelveMSUcolumns {   
	
	float: left;
	position: relative; 
	margin: 5px 0px 0px 0px;

}



#MSUstandardFooter #standard-footer-site-links ul {
	margin: 0px;
	padding: 0px;
	height: 26px;
	border-bottom: 1px dotted #808080;
	float: left;
	clear: right;
}

#MSUstandardFooter #standard-footer-site-links ul li {
	display: inline-block;
	padding-left: 1px;
	font-size: 12px;
}

#MSUstandardFooter #standard-footer-site-links ul li:first-child {
	padding: 0px;
}

#MSUstandardFooter #standard-footer-site-links ul li:nth-child(2) a {
	padding: 0px 8px 0px 2px;
	
}

#MSUstandardFooter #standard-footer-site-links ul li:last-child a {
	border-right: none;
}

#MSUstandardFooter #standard-footer-site-links ul li a {
	text-decoration: none;
	padding-right: 3px;
	
}

#MSUstandardFooter #standard-footer-site-links ul li a:hover {
	text-decoration: underline;
}

#MSUstandardFooter.light-background #standard-footer-site-links {
	color: #18453b;
}

#MSUstandardFooter.light-background #standard-footer-site-links a {
	color: #18453b;
	border-right: 1px solid #18453b;
}

#MSUstandardFooter.light-background #standard-footer-site-links ul li:nth-child(2) a {
	/*border-left: 1px solid #18354b;*/
}

#MSUstandardFooter.dark-background #standard-footer-site-links{
	color: #fff;
}


#MSUstandardFooter.dark-background #standard-footer-site-links ul li:nth-child(2) a {
	border-left: 1px solid #737373;
}

#MSUstandardFooter.dark-background #standard-footer-site-links a {
	color: #fff;
	border-right: 1px solid #737373;
}






#MSUstandardFooter #standard-footer-MSU-info {
	font-size: 9px;
	margin-top: -4px;
	padding-top: 0px;
	float: left;
	clear: right;
}

#MSUstandardFooter #standard-footer-MSU-info ul {
	margin: 0px;
	padding: 0px;
	height: 16px;
}

#MSUstandardFooter #standard-footer-MSU-info ul li {
	margin-bottom: 0px;
	line-height: 10px;
	display: inline;
	border-right: 1px solid #999;
	padding: 0px 8px 0px 4px;
}

#MSUstandardFooter #standard-footer-MSU-info ul li.spartans-will {
	text-transform: uppercase;
	font-weight: 600;
}



#MSUstandardFooter #standard-footer-MSU-info ul li:first-child {
	padding-left: 0px;
}

#MSUstandardFooter #standard-footer-MSU-info ul li:last-child {
	border-right: 0px;
}	

#MSUstandardFooter #standard-footer-MSU-info ul li a {
	text-decoration: none;
}

#MSUstandardFooter #standard-footer-MSU-info ul li a:hover {
	text-decoration: underline;
}

#MSUstandardFooter.light-background #standard-footer-MSU-info{
	color: #18453b;
}
#MSUstandardFooter.light-background #standard-footer-MSU-info a, #MSUstandardFooter.light-background #standard-footer-MSU-info .msu-phone {
	color: #4c7e00;
}


#MSUstandardFooter.dark-background #standard-footer-MSU-info{
	color: #fff;
}

#MSUstandardFooter.dark-background #standard-footer-MSU-info a, #MSUstandardFooter.dark-background #standard-footer-MSU-info .msu-phone {
	color: #84d123;
}







#standard-footer-MSU-wordmark img.print-msuwordmark {
	display: none;
}




/* #Print Styles
================================================== */
@media print {

	#MSUmasthead img.print-msugraphic, #standard-footer-MSU-wordmark img.print-msuwordmark {
		display: block;
	}

	#MSUmasthead img.screen-msugraphic, #standard-footer-MSU-wordmark img.screen-msuwordmark {
		display: none;
	}

	#MSUSearchTool #search-tool-box{

		margin-right: 12px;
	}

}

/* ICER Contact Page Specific */

#masthead {
    height: 60px;
    width: 100%;
  }

  #masthead img {
    vertical-align: middle;
    margin-left: 15px;
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

 .btn {
 	font-weight: bold;
 }

.navbar {
	border-radius: 0;
	padding-left:5px;
	background-color: white;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar li {
	color: white;
}

.dropdown-menu {
  text-align: center;
}

#MSUstandardFooter {
	padding-left: 18px;
}

.navbar-light
.navbar-brand {
	color: #008208;
	/* color: #008808; */
}

a {
	color: #008208;
	/* color: #008808; */
	text-decoration: none;
}

.navbar-light
.nav-link.link-secondary {
	color: #18453B;
}

legend {
	color: #18453B;
}

.form-control {
	color: #18453B;
}

.btn {
	background-color: #18453B;
	border: 1px solid #18453B;
	color: white;
}

.btn:hover{
	background-color: white;
	color: #18453B;
	border: 1px solid #18453B;
}

.icerHeader {
	padding-left: 33px;
	padding-bottom: 10px;
}

.icerHeader a{
	text-decoration: none;
}

.bgform {
	background-color: white;
}

.input-group-addon {
	background-color: white;
	color: #18453B;
}

.alert {
  text-align: center;
}

.alerttext {
  clear: both;
}

.btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

